@import url("./__lang-links/header__lang-links.css");
@import url("./__lang-list-item/header__lang-list-item.css");
@import url("./__lang-link/header__lang-link.css");

.header {
  display: flex;
  margin: auto;
  padding-top: 34px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 20px;
  }
}
